= simple_form_for @artist, :html => {:class => 'form-horizontal'} do |f|
	= f.error_notification

	= f.input :name
	= f.input :email
	= f.input :image, as: :image_preview, input_html: {preview_version: :thumb, :class => 'my_editable_element'}
	= f.association :band_members, :collection => @artists, :input_html => {:class => "select2", :multiple => true}
	= f.input :content, :as => :ckeditor, :input_html => {:class => 'span8 editable'}

	.form-actions
		= f.button :submit

- content_for :script do
	:javascript
		$("#artist_band_member_ids").select2();
		$('.select2-container').css({width: '20em'});
