%p#notice= notice

.well
  .row
    %h3.center
      = @artist.name
    .image-wrap
      = image_tag @artist.image
    #artist_content
      =raw @artist.content
  .email
    = @artist.email
  

- if user_signed_in?
  = link_to "Edit Page", edit_artist_path
  \|
  = link_to 'Back', artists_path

= content_for(:side_bar) do
  .well{"data-hook" => "homepage_sidebar_navigation"}
    - if "home" == params[:controller] && @taxon
      = render :partial => 'spree/shared/filters'
    - else
      = render :partial => 'spree/shared/taxonomies'
  %ul.nav.nav-list
    %li.nav-header
      Latest Albums
    - @recentAlbums.each do |album|
      %li
        = link_to album.name, product_path(album) unless album.blank?
  - @bands.each do |band|
    = link_to band.name, artist_path(band) unless band.blank?
    = image_tag band.image.url.to_s
