= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Songs' }

= simple_form_for([:admin, @product, @song], :remote => true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    %p 
      =@song.mp3
    = f.input :mp3
    %p 
      =@song.ogg
    = f.input :ogg
    = audio_tag @song.mp3, :preload=>"auto"
    

  .form-actions
    = f.button :submit
    = link_to 'Back', admin_product_songs_url(@product), :class => 'btn'
